<div class="container">
  <div class="d-flex justify-content-center list-products-title">
    <h2>ADMINISTRADOR DE PRODUCTOS</h2>
  </div>
  <div class="d-flex justify-content-center">
    <a href="/admin/create">
      <button type="button" class="btn btn-warning">Agregar Producto</button>
    </a>
  </div>
  <div class="">
    <div class="row col-12 p-0 table-container justify-content-center">
      <table>
        <colgroup span="5" class="columns formulario1"></colgroup>
        <tr class="">
          <th>Id</th>
          <th>Nombre</th>
          <th>Precio</th>
          <th>Categoría</th>
          <th>Acciones</th>
        </tr>
        <% products.forEach(product => { %>
        <tr>
          <td><%- product.id %></td>
          <td><%- product.name %></td>
          <td>$<%- product.price %></td>
          <td><%- product.productCategory.name %></td>
          <td class="link-edit-product">
            <a href='admin/editor/<%- product.id %>' title='Editar <%- product.name %>'>
              <img src="/images/editProduct.svg" alt="img">
            </a>
            <div class="d-inline ">
              <% if (product.state) { %>
                <a href='/admin/changeState/<%= product.id%>' title='desactivar <%= product.name %>'>
                  <img src="/images/toggle-on.svg" alt="togle-on"></a>
              <% } else { %>
                <a href='/admin/changeState/<%= product.id%>' title='activar <%= product.name %>'>
                  <img src="/images/toggle-off.svg" alt="togle-on"></a>
              <% } %> 
              
            </div>
            <form action=/admin/delete/<%- product.id %>?_method=DELETE method="POST" class="d-inline">
              <button class="p-0 m-0" title='Borrar<%- product.name %>'><img src="/images/close-delete.svg" alt="delete"></button>
            </form>
          </td>
        </tr>
        <% }) %>
      </table>
    </div>
  </div>
</div>