<div class="container">
    <div class="row justify-content-center title">
        <h1>Editar <%= product.name %> </h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-12 col-lg-8 col-xl-8">
            <form action='/admin/editor/<%- product.id %>?_method=PUT'  method="POST" class="formulario" enctype="multipart/form-data" >
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                            <label for="nombre" class="campo">Nombre Producto</label>
                            <input type="text" name="name" class="form-control" id="nombre" placeholder="Ingrese nombre del producto" value='<%- product.name %>' >
                    </div>  
                </div>
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                        <label class="campo" for="precio">Precio Unitario</label>
                        <input type="number" name="price" class="form-control" id="precio" placeholder="Ingrese precio del producto" value='<%- product.price %>'>
                    
                    </div>
                </div>
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                            <label class="campo" for="descripcion">Descripcion</label>
                            <textarea type="text" name="description" class="form-control" id="descripcion" rows="5"><%- product.description %>
                            </textarea>
                       
                    </div>
                </div>
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                            <label class="campo" for="imagen">Imagen</label>
                            <input type="file" name="image" required class="form-control" id="imagen">
                    </div>
                    <div class="row justify-content-center filaForm">
                        <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                            <img id="imgProductos" src='/images/products/<%- product.image%>' alt="Imagen de <%- product.name %>">
                        </div>
                    </div>
                    
                </div>
                <div class="row justify-content-center filaForm">
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                        <label class="campo" for="category">Categoría</label>
                        <select class="form-control" id="category" name="category" required>
                        <option selected value="-1" disabled><%= product.productCategory.name %></option>
                        <option value="1">Aire Libre</option>
                        <option value="2">Bebés</option>
                        <option value="3">Bloques y Construcción</option>
                        <option value="4">Didácticos</option>
                        <option value="5">Figuras de Acción</option>
                        <option value="6">Gift Cards y Listas de Cumple</option>
                        <option value="7">Juegos de Mesa</option>
                        <option value="8">Juguetes</option>
                        <option value="9">Muñecas</option>
                        <option value="10">Peluches</option>
                        <option value="11">Vehículos</option>   
                        </select>
                    </div>
                </div>
                <div class="row justify-content-center filaForm"> 
                    <div class="col-10 col-md-10 col-lg-10 col-xl-10">
                        <label class="campo" for="age">Edad</label>
                        <select class="form-control" id="age" name="age" required>
                        <option selected value="-1" disabled><%= product.age %></option>
                        <option value="2">0-3</option>
                        <option value="5">4-7</option>
                        <option value="18">8-En adelante</option>  
                        </select>
                    </div>
                </div>
                <div class="row justify-content-around filaForm">
                    <div class="col-5">
                        <a href="/admin"><button type="button" class="btn btn-warning">CANCELAR</button></a>
                    </div>
                    <div class="col-5 botonCargar">
                        <button type="submit" class="btn btn-warning">CARGAR</button>
                    </div>
                </div>
            </form> 
        </div>
    </div>
</div>
