<!DOCTYPE html>
<html>

<%- include('partials/head')%>
<body>
  <div id="app">
    <%- include('partials/cartModal')%>
    <%- include('partials/header')%>
    <%- include('partials/history')%>
  </div>
  <%- include('partials/footer')%>
  <%- include('partials/scripts')%>
</body>

</html>