<!DOCTYPE html>
<html>
<%- include('partials/head')%>
<body>
  <div id="app">
    <%- include('partials/cartModal')%>
    <%- include('partials/header')%>
    <%- include('partials/carruselPrincipal')%>
    <%- include('partials/productosMasVendidos')%>
    <%- include('partials/footer')%>
  </div>
  <%- include('partials/scripts')%>
</body>

</html>