<!DOCTYPE html>
<html>
<%- include('partials/head')%>

<body>
  <div>
    <div id="app">
      <%- include('partials/header')%>
      <br>
      <% if(typeof errors != 'undefined') {%>
      <div class="alert alert-danger text-center" role="alert">
        <% errors.forEach(error => {%>
        <h5><%- error.msg %></h5>
        <% })%>
      </div>

      <div class="container-fluid">
        <div class="row justify-content-around mainProducts">
          <div class="col-10 col-sm-10 col-md-10 col-lg-6 formulario">
            <div class="mb-4 mt-2 text-center">
              <h3 class="textNvoCliente">LOGIN</h3>
            </div>
            <form action="/users/login" method="POST">
              <div class="form-group col-12 col-sm-10 col-md-10 col-lg-8">
                <label for="email" class="campo">E-mail</label>
                <input type="email" required name="email" class="form-control" id="email"
                  placeholder="Ingresá tu e-mail" value=<%- currentUser.email %>>
              </div>
              <div class="form-group col-12 col-sm-10 col-md-10 col-lg-8">
                <label for="password" class="campo">Password</label>
                <input type="password" required name="password" class="form-control" id="password"
                  placeholder="Ingresá tu password">
                <small id="emailHelp" class="form-text text-muted">¿Olvidaste tu contrseña?</small>
              </div>
              <div class="row">
                <div class="col-9 col-sm-8 col-md-8 col-lg-8">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Recordarme
                    </label>
                  </div>
                </div>
                <div class="col-10 col-sm-12 col-md-4 col-lg-4 mb-4 d-flex flex-row-reverse mt-3">
                  <button type="submit" class="btn btn-dark">Iniciar sesion</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-4 formulario">
            <div class="mb-4 mt-2 text-center">
              <h3 class="textNvoCliente">NUEVO CLIENTE</h3>
            </div>
            <div class="text-center">
              <h6>¡Te damos la bienvenida a <b>DH TOYD!</b><br>
                por favor haz click en el siguiente<br>
                botón para crearte tu cuenta</h6>
            </div>
            <div class="text-center mt-5 mb-4">
              <a href="/users/login/register"><button class="btn btn-dark">CREAR CUENTA</button></a>
            </div>
          </div>
        </div>
      </div>

      <% } else { %>
      <div class="container-fluid">
        <div class="row justify-content-around main">
          <div class="col-10 col-sm-10 col-md-10 col-lg-6 formulario">
            <div class="mb-4 mt-2 text-center">
              <h3 class="textNvoCliente">LOGIN</h3>
            </div>
            <form action="/users/login" method="POST">
              <div class="form-group col-12 col-sm-10 col-md-10 col-lg-8">
                <label for="email" class="campo">E-mail</label>
                <input type="email" required name="email" class="form-control" id="email"
                  placeholder="Ingresá tu e-mail">
              </div>
              <div class="form-group col-12 col-sm-10 col-md-10 col-lg-8">
                <label for="password" class="campo">Password</label>
                <input type="password" required name="password" class="form-control" id="password"
                  placeholder="Ingresá tu password">
                <small id="emailHelp" class="form-text text-muted">¿Olvidaste tu contrseña?</small>
              </div>
              <div class="row">
                <div class="col-9 col-sm-8 col-md-8 col-lg-8">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="gridCheck">
                    <label class="form-check-label" for="gridCheck">
                      Recordarme
                    </label>
                  </div>
                </div>
                <div class="col-10 col-sm-12 col-md-4 col-lg-4 mb-4 d-flex flex-row-reverse mt-3">
                  <button type="submit" class="btn btn-dark">Iniciar sesion</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-10 col-sm-10 col-md-10 col-lg-4 formulario">
            <div class="mb-4 mt-2 text-center">
              <h3 class="textNvoCliente">NUEVO CLIENTE</h3>
            </div>
            <div class="text-center">
              <h6>¡Te damos la bienvenida a <b>DH TOY!</b><br>
                por favor haz click en el siguiente<br>
                botón para crearte tu cuenta</h6>
            </div>
            <div class="text-center mt-5 mb-4">
              <a href="/users/login/register"><button class="btn btn-dark">CREAR CUENTA</button></a>
            </div>
          </div>
        </div>
      </div>
      <% } %>
      
    </div>
    <%- include('partials/footer')%>
    <%- include('partials/scripts')%>
</body>

</html>