<!DOCTYPE html>
<html lang="en">
<%- include('partials/head')%>
<body>
  <div id="app">
    <%- include('partials/header')%>
    <div class="contenedorDeLogin main">
      <div class="profile">
        <div class="d-flex justify-content-center profile-image">
          <img src=../images/users/<%- user[0].avatar %> alt="Imagen del usuario logueado">
        </div>
        <div>
          <h4><b>Nombre:</b> <%- user[0].name%> <%- user[0].lastName %></h4><br>
          <h4><b>Email:</b> <%- user[0].email %></h4><br>
        </div>
      </div>
    </div>
    <%- include('partials/footer')%>
    <%- include('partials/scripts')%>
</body>

</html>