<div class="container-fluid main">
    <div class="row justify-content-center mt-3 mb-3">
        <div class="col-md-3 col-lg-4 col-xl-3">
            <hr>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 tittle">
            <p>Los más vendidos</p>
        </div>
        <div class="col-md-3 col-lg-4 col-xl-3">
            <hr>
        </div>
    </div>
    <div class="row justify-content-center">
        <% for(let i = 0; i < products.length; i++) {%>
        <div class="col-8 col-sm-5 col-md-3 col-lg-3 col-xl-2 mr-3 ml-3 containerProduct">
            <div>
                <div class="image imgProduct">
                    <img class="card-img-top" src='/images/products/<%= products[i].image %>' alt="Card image cap">
                </div>
                <h4 class="text center" style="text-align: center;"><%- products[i].name %></h4>
                <div>
                    <% if (products[i].description.length > 100) { %>
                    <p class="text-center"><%= products[i].description.substring(0, 100)+ '...' %></p>
                    <% } else { %>
                    <p class="text-center"><%= products[i].description %></p>
                    <% } %>
                </div>
                <div class="row">
                    <div class="col-12 price text-align-center">
                        <p class="card-text">$ <%- products[i].price %></p>
                    </div>
                </div>
                <div class="row no-gutters">
                    <div class="col-10">
                        <a href=detalle/<%- products[i].id %> class="view"><img src="images/eye.png" alt=""></a>
                    </div>
                    <div class="col-2">
                        <a class="addToCart"><img src="images/cart.png" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>
</div>